  .color-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .white {
    background-color: white;
    color: black;
    border-color: black;
  }
  
  .black {
    background-color: black;
    color: white;
  }
  